@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffc0cb;
  font-family: "Pacifico", cursive;
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Título animado */
.love-title {
  /*font-size: 5rem;*/
  font-size: 8vw; /* Escala con el ancho de la pantalla */
  text-align: center;
  padding: 1rem;
  background: linear-gradient(90deg, #ff0000, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgb(214, 195, 195);
  animation: pulse 2s infinite;
  z-index: 2;
}

/* Animación pulsante */
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    text-shadow: 0 0 10px white;
  }
  50% {
    transform: scale(1.05);
    text-shadow: 0 0 20px #fff, 0 0 30px #ff99cc;
  }
}

/* Corazones */
.heart {
  position: fixed;
  font-size: 1.5rem;
  top: -2vh;
  animation: fall 3s linear forwards;
  z-index: 1;
  opacity: 0.9;
}

@keyframes fall {
  from {
    transform: translateY(0) rotate(0deg);
  }
  to {
    transform: translateY(110vh) rotate(360deg);
  }
}

/* Lienzo para sparkles */
#sparkles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.falling-img {
  position: fixed;
  top: -10vh;
  /* width: 40px;
  height: 40px; */
  width: 10vw;
  height: auto;
  max-width: 150px;
  object-fit: contain;
  animation: imgFall linear forwards;
  z-index: 1;
  pointer-events: none;
}

@keyframes imgFall {
  0% {
    transform: translateY(0vh) rotate(-20deg);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(20deg);
    opacity: 0.8;
  }
}

@media (max-width: 600px) {
  .love-title {
    font-size: 10vw;
    padding: 2rem;
  }

  .falling-img {
    width: 12vw;
  }
}
